@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
// body {
//   background-color: white;
//   background-image: -webkit-linear-gradient(150deg, #dac5bc 65%, #0039a6 35%);
// }
.main-header {
  background-color: #2e0c53;
  opacity: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  align-items: center;
  top: 0;
}
#main-logo {
  width: 60px;
  height: 60px;
  padding: 10px 10px 10px 10px;
}
.AboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutHeaderText {
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
}
.AboutText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#aboutText {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}
.BlogSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogHeaderText {
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
}
.blogPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogPostHeaderText {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}
#blogPostText {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  width: 60%;
}
.blog-image {
  width: 50%;
}
.headerLinks {
  display: flex;
  flex-direction: row;
}
.NavBar {
  position: absolute;
  margin-right: 5%;
  width: 100%;
}
.NavLink {
  color: whitesmoke;
  font-family: "open sans", sans-serif;
  // margin: 5%;
  margin-left: 30px;
}
.main-text {
  margin-top: 4%;
  font-family: "open sans", sans-serif;
  line-height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
  position: absolute;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 33%;
}
.top10BurritosText {
  font-size: 2rem;
  font-weight: bold;
}

.homepageCarouselHeader {
  font-size: 2rem;
  font-weight: bold;
}

.FeedContainerText {
  font-size: 2rem;
  font-weight: bold;
}

#review-button {
  margin-top: 30%;
  margin-left: 10%;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 10%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-family: "open sans", sans-serif;
  background-color: #0c2340;
  position: relative;

  color: white;
  cursor: pointer;
}

.loginText {
  color: black;
  font-family: inherit;
  background-color: none;
  font-size: 1.2rem;
  font-weight: bold;
  // margin-bottom: 50%;
}
.loginBox {
  margin-right: 10%;
}
.loginHere {
  color: whitesmoke;
  margin-right: 10%;
  font-family: "open sans", sans-serif;
}
#close {
  color: black;
  font-weight: bolder;
  margin-right: 100%;
}

.loginInput {
  display: flex;
  border: black 1px solid;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  // margin-top: 3%;
  text-align: center;
  font-family: "open sans", sans-serif;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  background-color: lavenderblush;
  margin: auto;
  // margin-bottom: 10%;
  padding: 1rem;
  position: fixed;
}

.loggedInUser {
  font-family: "open sans", sans-serif;
  color: white;
}

.signUpText {
  font-family: "open sans", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  text-align: center;
  // margin-bottom: 5%;
}

.signUpTextFail {
  font-family: "open sans", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  text-align: center;
  color: red;
  // margin-bottom: 5%;
}

.submitButton {
  align-items: center;
  border-radius: 20px;
  margin-top: 5%;
  background-color: lightblue;
  cursor: pointer;
  font-family: "open sans", sans-serif;
  padding: 0.5rem;
}
.signUpButton {
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 5%;
  background-color: lightblue;
  cursor: pointer;
  margin-left: 25%;
  font-family: "open sans", sans-serif;
  padding: 0.4rem 1rem 0.4rem 1rem;
}
.loginButton {
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 5%;
  background-color: lightblue;
  cursor: pointer;
  margin-left: 0%;
  font-family: "open sans", sans-serif;
  padding: 0.4rem 1rem 0.4rem 1rem;
}

.rankings-box-feed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.burrito-rankings-box {
  background-color: #0039a6;
  padding: 10px 10px 10px 10px;
  border: 0px solid black;
  margin: 5%;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 2%;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.burrito-card-pic {
  width: 100%;
}
.burrito-card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: center;
}
.burrito-card-text {
  padding-right: 30px;
  font-size: 15px;
  color: #fccc0a;
  padding-left: 30px;
  font-weight: bold;
  font-family: "open-sans", sans-serif;
}
.burrito-card-type-text {
  text-align: center;
  padding-right: 30px;
  font-size: 15px;
  color: #ff6319;
  padding-left: 30px;
  font-family: "open sans", sans-serif;
}
.burrito-card-restaurant-text {
  font-size: 25px;
  font-weight: bold;
  color: white;
  align-items: center;
  text-align: center;
  font-family: "open sans", sans-serif;
}
.burrito-card-button {
  align-items: center;
  border-radius: 20px;
  margin-top: 20%;
  margin-bottom: 5%;
  padding: 5px 35px 5px 35px;
  border: none;
  background-color: whitesmoke;
  cursor: pointer;
  font-family: "open sans", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.burrito-card-ratingAndReviews {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  border: 4px dotted whitesmoke;
  margin-bottom: 5%;
}
.burrito-card-image-container {
  position: relative;
}
.burrito_type-card-image-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 2em;
  margin-right: 20%;
  margin-bottom: 9%;
  // padding-left: px;
  // padding-right: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal_content {
  background-color: white;
  position: absolute;
}
.review-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  opacity: 50%;
  padding: 10px;
  width: 30%;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: "open sans", sans-serif;
}
.burrito-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "open sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.FeedContainerText {
  font-family: "open sans", sans-serif;
  margin-left: 10%;
}
.carousel-borough-name {
  font-family: "open sans", sans-serif;
  font-size: 1.5rem;
  margin-left: 10%;
}
.top10BurritosText {
  font-family: "open sans", sans-serif;
  margin-left: 10%;
}

.homepageCarouselHeader {
  font-family: "open sans", sans-serif;
  margin-left: 10%;
}

.carousel-feed-section {
  display: flex;
  flex-direction: column;
}

#form-field {
  display: flex;
  border: black 1px solid;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  padding: 5px;
  text-align: center;
  font-family: "open sans", sans-serif;
}
#form-submit-button {
  align-items: center;
  border-radius: 20px;
  margin-top: 20%;
  margin-bottom: 5%;
  padding: 5px 35px 5px 35px;
  background-color: white;
  cursor: pointer;
  font-family: "open sans", sans-serif;
  &:hover {
    align-items: center;
    border-radius: 20px;
    margin-top: 20%;
    margin-bottom: 5%;
    padding: 5px 35px 5px 35px;
    background-color: purple;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    font-family: "open sans", sans-serif;
  }
}
.profile-contents {
  display: flex;
  flex-direction: row;
  font-family: "open sans", sans-serif;
  justify-content: space-between;
}
.popup-review-form {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  padding: 10px 10px 10px 10px;
  width: 30%;
  margin-top: 5%;
  margin-bottom: 2%;
}
.popup-review-form-x {
  color: black;
  margin-left: 90%;
}
.dropdown-menu {
  font-family: "open sans", sans-serif;
  // margin-top: 30%;
}
#dropdown-submit-button {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-family: "open sans", sans-serif;
  background-color: #add8e6;
  color: white;
}
.carousel-dropdown-menus {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdown-menus {
  display: flex;
  flex-direction: row;
  margin-left: 50%;
  align-items: center;
  font-family: "open sans", sans-serif;
}
.dropdown-select {
  background-color: white;
  border: none;
  font-family: "open sans", sans-serif;
  border-radius: 10%;
  margin-left: 5%;
  width: 80%;
  text-align: center;
  color: teal;
}
.burrito-profile-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.burrito-profile-label {
  margin-left: 10px;
}
feed-dropdown {
  margin: 0;
}
