@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
// body {
//   background-color: white;
//   background-image: -webkit-linear-gradient(150deg, #dac5bc 65%, #0039a6 35%);
// }
.main-header {
  opacity: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  width: 100%;
  align-items: center;
  top: 0;
  // text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
  //   0px 18px 23px rgba(0, 0, 0, 0.1);
}
#main-logo {
  width: 60px;
  height: 60px;
  padding: 10px 10px 10px 10px;
}
.AboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutHeaderText {
  font-family: "Arial, Helvetica, sans-serif";
  font-size: 45px;
}
.AboutText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#aboutText {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}
.BlogSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogHeaderText {
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
}
.blogPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogPostHeaderText {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}
#blogPostText {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  width: 60%;
}
.blog-image {
  width: 50%;
}
.headerLinks {
  display: flex;

  flex-direction: row;
}
.NavBar {
  position: absolute;
  margin-right: 5%;
  width: 100%;
}
.NavLink {
  color: whitesmoke;
  font-family: "Helvetica";
  font-size: 2em;
  text-decoration: none;
  // margin: 5%;
  margin-left: 30px;
}

#top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search-section {
  display: flex;
  position: relative;
  margin-top: 20%;
  align-items: center;
  width: 20%;
}

#search-bar {
  display: flex;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  border-radius: 2rem;
  position: relative;
  top: 20%;
  text-emphasis: wrap;
  word-break: keep-all;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 8px 15px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
}

#borough-filter-container {
  margin-top: 3%;
  display: flex;
  flex: row;
  justify-content: space-around;
}

.borough-search-filter {
  padding-right: 5%;
  padding-left: 5%;

  border-radius: 2rem;
  background-color: honeydew;
  margin-left: 2%;
}

.borough-search-filter-text {
  font-family: "Helvetica";
  font-weight: bolder;
  text-align: center;
}

.image-parallax {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1546436836-07a91091f160?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80");

  /* Full height */
  height: 85%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.image-parallax-2 {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1445023086979-7244a12345a8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1502&q=80");
  background-color: whitesmoke;
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-parallax-manhattan {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1541450228924-1ecb88feeaea?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1789&q=80");
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-parallax-brooklyn {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1545750975-f61878130237?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-parallax-bronx {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1616001944944-9aa3059177e0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2618&q=80");
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-parallax-queens {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1556612479-e98f714b9546?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-parallax-staten-island {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1584977737241-1a648a3a1281?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80");
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-text {
  margin-top: 5%;
  font-family: "Helvetica";
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  padding-top: 2%;
  padding-bottom: 2%;
  // margin-left: 30%;
  color: whitesmoke;
}
.top10BurritosText {
  font-family: "Helvetica";
  color: whitesmoke;
  font-weight: bolder;
  font-size: 5rem;
  margin-left: 10%;
}

.homepageCarouselHeader {
  font-size: 2rem;
  font-weight: bold;
}

.FeedContainerText {
  font-size: 2rem;
  font-weight: bold;
}

#review-button {
  top: 12%;
  margin-left: 10%;
  border: none;
  border-radius: 20px;
  padding: 15px;
  width: 10%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-family: "Helvetica";
  font-weight: bold;
  background-color: #0c2340;
  position: fixed;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}

.loginText {
  color: black;
  font-family: inherit;
  background-color: none;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);

  // margin-bottom: 50%;
}
.loginBox {
  margin-right: 10%;
}
.loginHere {
  color: whitesmoke;
  margin-right: 10%;
  font-family: "Helvetica";
  font-size: 2em;
}
#close {
  color: black;
  font-weight: bolder;
  margin-right: 100%;
}

.loginInput {
  display: flex;
  border: black 1px solid;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  // margin-top: 3%;
  text-align: center;
  font-family: "Helvetica";
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  background-color: lavenderblush;
  margin: auto;
  // margin-bottom: 10%;
  padding: 1rem;
  position: fixed;
}

.loggedInUser {
  font-family: "Helvetica";
  color: white;
}

.signUpText {
  font-family: "Helvetica";
  font-weight: bolder;
  font-size: 1rem;
  text-align: center;
  // margin-bottom: 5%;
}

.signUpTextFail {
  font-family: "Helvetica";
  font-weight: bolder;
  font-size: 1rem;
  text-align: center;
  color: red;
  // margin-bottom: 5%;
}
#close:hover {
  cursor: pointer;
}
#close {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.signUpTextBox:hover {
  cursor: pointer;
}

.signUpTextBox {
  font-family: "Helvetica";
  font-weight: bolder;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
.submitButton {
  align-items: center;
  border-radius: 20px;
  margin-top: 5%;
  background-color: lightblue;
  cursor: pointer;
  font-family: "Helvetica";
  padding: 0.5rem;
}
.signUpButton {
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 5%;
  background-color: lightblue;
  cursor: pointer;
  margin-left: 25%;
  font-family: "Helvetica";
  padding: 0.4rem 1rem 0.4rem 1rem;
}
.loginButton {
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 5%;
  background-color: lightblue;
  cursor: pointer;
  margin-left: 0%;
  font-family: "Helvetica";
  padding: 0.4rem 1rem 0.4rem 1rem;
}

.rankings-box-feed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.burrito-rankings-box {
  background-color: #0039a6;
  padding: 10px 10px 10px 10px;
  border: 0px solid black;
  margin: 5%;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 2%;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.burrito-card-pic {
  width: 100%;
}
.burrito-card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: center;
}
.burrito-card-text {
  padding-right: 30px;
  font-size: 15px;
  color: #fccc0a;
  padding-left: 30px;
  font-weight: bold;
  font-family: "Helvetica";
  font-weight: bolder;
}
.burrito-card-type-text {
  text-align: center;
  padding-right: 30px;
  font-size: 15px;
  color: #ff6319;
  padding-left: 30px;
  font-family: "Helvetica";
  font-weight: bolder;
}
.burrito-card-restaurant-text {
  font-size: 25px;
  font-weight: bold;
  color: white;
  align-items: center;
  text-align: center;
  font-family: "Helvetica";
  font-weight: bolder;
}
.burrito-card-button {
  align-items: center;
  border-radius: 20px;
  margin-top: 20%;
  margin-bottom: 5%;
  padding: 5px 35px 5px 35px;
  border: none;
  background-color: whitesmoke;
  cursor: pointer;
  font-family: "Helvetica";
  font-weight: bolder;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.burrito-card-ratingAndReviews {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  border: 4px dotted whitesmoke;
  margin-bottom: 5%;
}
.burrito-card-image-container {
  position: relative;
}
.burrito_type-card-image-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 2em;
  margin-right: 20%;
  margin-bottom: 9%;
  font-weight: bolder;

  // padding-left: px;
  // padding-right: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal_content {
  background-color: white;
  position: absolute;
}
.review-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  opacity: 50%;
  padding: 10px;
  width: 30%;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: "Helvetica";
  font-weight: bolder;
}
.burrito-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.FeedContainerText {
  font-family: "Helvetica";
  font-weight: bolder;
  margin-left: 10%;
}
.carousel-borough-name {
  font-family: "Helvetica";
  color: whitesmoke;
  font-weight: bolder;
  font-size: 5rem;
  margin-left: 10%;
}
#borough-header-section {
  background-color: gray;
}
.borough-header {
  font-family: "Helvetica";
  color: black;
  justify-content: center;
  align-items: center;

  font-weight: bolder;
  font-size: 2em;
  margin-left: 10%;
}
.top10BurritosText {
  font-family: "Helvetica";
  font-weight: bolder;
  margin-left: 10%;
}

.homepageCarouselHeader {
  font-family: "Helvetica";
  font-weight: bolder;
  margin-left: 10%;
}

.carousel-feed-section {
  display: flex;
  flex-direction: column;
}

#form-field {
  display: flex;
  border: black 1px solid;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  padding: 5px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: bolder;
}
#form-submit-button {
  align-items: center;
  border-radius: 20px;
  margin-top: 20%;
  margin-bottom: 5%;
  padding: 5px 35px 5px 35px;
  background-color: white;
  cursor: pointer;
  font-family: "Helvetica";
  font-weight: bolder;
  &:hover {
    align-items: center;
    border-radius: 20px;
    margin-top: 20%;
    margin-bottom: 5%;
    padding: 5px 35px 5px 35px;
    background-color: purple;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    font-family: "Helvetica";
    font-weight: bolder;
  }
}
.profile-contents {
  display: flex;
  flex-direction: row;
  font-family: "Helvetica";
  font-weight: bolder;
  justify-content: space-between;
}
.popup-review-form {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  padding: 10px 10px 10px 10px;
  width: 30%;
  margin-top: 5%;
  margin-bottom: 2%;
}
.popup-review-form-x {
  color: black;
  margin-left: 90%;
}
.dropdown-menu {
  font-family: "open sans", sans-serif;
  // margin-top: 30%;
}
#dropdown-submit-button {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-family: "Helvetica";
  font-weight: bolder;
  background-color: #add8e6;
  color: white;
}
.carousel-dropdown-menus {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdown-menus {
  display: flex;
  flex-direction: row;
  margin-left: 50%;
  align-items: center;
  font-family: "Helvetica";
  font-weight: bolder;
}

.dropdown-select {
  background-color: white;
  border: none;
  font-family: "Helvetica";
  font-weight: bolder;
  border-radius: 10%;
  margin-left: 5%;
  width: 80%;
  text-align: center;
  color: teal;
}
.burrito-profile-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.burrito-profile-label {
  margin-left: 10px;
}
feed-dropdown {
  margin: 0;
}
